{% extends 'base.html' %}
{% block title %} Главная {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/home.css">
{% endblock %}

{% block content %}

{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Ошибка
          {% elif status=='success' %}
          Внимание
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          Ой-ой! Аккуратнее!
          {% elif status=='success' %}
          Хей, смотри сюда!
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="hero splash p-less is-fullheight-with-navbar" id="home-hero">
  <div class="container flex">
    <div class="columns flex-vcenter">
      <div class="column flex-vcenter flex-lcenter is-size-2-desktop is-size-1-fullhd" id="title">
        <h1 class="title is-spaced is-size-2-desktop is-size-1-fullhd">{{ appName() }}</h1>
        <h2 class="subtitle">
          Добро пожаловать на приватный osu-сервер {{ appName() }}, построенный на базе
          <a href="https://github.com/cmyui/gulag">нового ядра</a> от cmyui с
          кучей уникальных фич. Исходный код открыт, а это значит, что вы
          можете посмотреть на <a href="https://github.com/AipNooBest/gulag">наше ядро</a>
            и <a href="https://github.com/AipNooBest/guweb">фронтенд</a> на GitHub!
        </h2>
        {% if not session.authenticated %}
        <div class="buttons">
          <a class="button is-primary" href="/register">
            <strong>Регистрация</strong>
          </a>
          <a class="button is-light" href="/login">
            Вход
          </a>
        </div>
        {% endif %}
      </div>
      <div class="column flex flex-lcenter" id="mascot">
        <div class="gulag-avatar"></div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">Самые классные фичи</h2>
    <div class="columns has-text-left mb-6">
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-address-card"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">PP для Relax и AutoPilot</h4>
            <p class="subtitle is-6">На нашем сервере стоит полноценная PP система для Relax и AutoPilot.
              Умеете хорошо попадать, но не умеете прожимать или наоборот? Присоединяйтесь к {{ appName() }} и получите
              заслуженную награду за ваш навык! Более того, система работает наравне с Vanilla, этим наш сервер
                отличается от, например, Akatsuki.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-ambulance"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Бесплатный osu!direct</h4>
            <p class="subtitle is-6">Вам не нужно платить за osu!supporter, чтобы иметь полный доступ ко всем
              клиентским плюшкам типа osu!direct. Теперь он доступен для всех желающих!</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-archive"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Полу-анархия в рейтинге</h4>
            <p class="subtitle is-6">Мы постоянно меняем PP систему в сторону баффов или нерфов исключительно ради
              забавных и интересных результатов. Не любите, что циферки получают только за 1-2?
                Наша система убрала наказание за миссы и слайдербрейки(но усилила влияние точности),
             так что теперь вы можете получить заслуженные PP за просто прохождение сложных карт!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if not session.authenticated %}
<section class="hero splash">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">Чего же ты ждёшь?</h1>
      <h2 class="subtitle">Присоединяйся к {{ appName() }}! Твой аккаунт не забанят на официальном сервере за игру с нами,
          а переключиться между нашим сервером и официальным проще простого!</h2>
      <div class="buttons is-centered"><a class="control button is-primary" href="/register">Зарегистрироваться</a><a
          class="control button is-light" href="/login">Войти</a></div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
