{% extends 'base.html' %}
{% block title %} Подтверждение {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/verify.css">
{% endblock %}

{% block content %}
<div class="main-block is-marginless is-paddingless is-auth">
    <div class="columns pm-reset is-weeb">
        <div class="column title-block">
            <div class="titlewithsub">
                <h1 class="title is-left">Нужно подтвердить аккаунт.</h1>
                <h2 class="subtitle">В смысле? Должно быть, это просто, верно?</h2>
            </div>
        </div>
        <div class="column icon-block">
            <i class="fas fa-user-circle is-headericon"></i>
        </div>
    </div>
    <div class="columns pm-reset flex-lcenter is-block">
        <div class="box is-padding">
            <div class="bordertitle">
                <div class="titlewithsub">
                    <h1 class="title is-left">Подтверждение</h1>
                    <h2 class="subtitle">Следуйте этим простым шагам, чтобы начать играть на {{ appName() }}!</h2>
                </div>
            </div>
            <div class="howto-content">
                <div class="columns is-paddingless is-marginless">
                    <div class="column" id="howto">
                        <img class="thumbnail" src="/static/images/required.png" />
                        <div class="howto-info flex">
                            <div class="big-number flex flex-lcenter flex-vcenter">
                                <div class="howto-number">1</div>
                            </div>
                            <div class="howto-withsub">
                                <h1 class="title is-left">Создайте новый ярлык osu!</h1>
                                <h2 class="subtitle">Скопируйте уже существующий или создайте сами из .exe файла</h2>
                            </div>
                        </div>
                    </div>
                    <div class="column" id="howto">
                        <img class="thumbnail" src="/static/images/object.png" />
                        <div class="howto-info flex">
                            <div class="big-number flex flex-lcenter flex-vcenter">
                                <div class="howto-number">2</div>
                            </div>
                            <div class="howto-withsub">
                                <h1 class="title is-left">Пропишите наш сервер</h1>
                                <h2 class="subtitle"><strong>1.</strong>Нажмите правой кнопкой мыши по ярлыку и выберите "Свойства"<br><strong>2.</strong> Найдите строчку "Объект" и после кавычек введите -devserver aipserver.ru</h2>
                            </div>
                        </div>
                    </div>
                    <div class="column" id="howto">
                        <img class="thumbnail" src="/static/images/mainmenu.jpg" />
                        <div class="howto-info flex">
                            <div class="big-number flex flex-lcenter flex-vcenter">
                                <div class="howto-number">3</div>
                            </div>
                            <div class="howto-withsub">
                                <h1 class="title is-left">Войдите в свой аккаунт</h1>
                                <h2 class="subtitle">Войдите в аккаунт и вы попадёте на сервер. Приятной игры!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box is-block is-paddingless is-marginless is-waiting">
                <div class="columns flex is-paddingless is-marginless">
                    <div class="column flex flex-vcenter">
                        <div>
                            <h1 class="title is-left">Ожидание верификации!</h1>
                            <h2 class="subtitle">Следуйте описанным выше шагам, после чего перезагрузите страницу.</h2>
                        </div>
                    </div>
                    <div class="column icon-block">
                        <div class="loading-anim">
                            <i class="fas fa-circle-notch is-headericon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
